@model USPeriodico.Models.EventoCEPE

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Base/_logadoBase.cshtml";
}

<script>  
$(function ()  
{
    $("#NomeHelper").popover({ trigger: 'hover' });
    $("#LocalHelper").popover({ trigger: 'hover' });
    $("#DescHelper").popover({ trigger: 'hover' });
    $("#ImageHelper").popover({ trigger: 'hover' });
}

    );
</script>

<div class="container" style="width: 60%;">
        <div class ="hero-unit">
           
            <h1 align="center">Criar novo evento</h1><br>

            <form class="form-horizontal" action="Criar" method="post" >
                
                <input type="text" name="AlunoID" id="AlunoID" value="@ViewBag.AlunoID" style="display:none">

                <div class="control-group">
                    <label class="control-label" for="Nome">Nome:</label>
                    <div class="controls">
                        <div style="font-size:12px">
                            <input type="text" id="Nome"  name="Nome">
                            <a href ="#" id="NomeHelper" rel="popover" data-content="Coloque um breve nome, por exemplo: Rachão ou Basquete Feminino"><i class="icon-question-sign"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Local">Local:</label>
                    <div class="controls">
                        <div style="font-size:12px">
                            <input type="text" id="Local"  name ="Local">
                            <a href ="#" id="LocalHelper" rel="popover" data-content="Coloque a quadra ou o local do encontro"><i class="icon-question-sign"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Data">Data:</label>
                    <div class="controls">
                        <input type="date" id="Data"  name="Data">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Horario">Horario:</label>
                    <div class="controls">
                        <input type="text" id="Horario"  name="Horario">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Esporte">Esporte:</label>
                    <div class="controls">
                        <input type="text" id="Esporte"  name="Esporte">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Descricao">Descrição:</label>
                    <div class="controls">
                        <div style="font-size:12px">
                            <input type="text" id="Descricao"  name="Descricao">
                            <a href ="#" id="DescHelper" rel="popover" data-content="Procure descrever seu evento para atrair muitas pessoas!"><i class="icon-question-sign"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Image">Imagem de Chamada:</label>
                    <div class="controls">
                        <div style="font-size:12px">
                            <input type="text" id="ImageLink"  name="Image">
                            <a href ="#" id="ImageHelper" rel="popover" data-content="Coloque um link para uma imagem que descreva seu esporte!"><i class="icon-question-sign"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-warning">Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>