@model IEnumerable<USPeriodico.Models.EventoCEPE>


@{
    ViewBag.Title = "Listar";
    if(ViewBag.NoID == false && ViewBag.ID != null)
    {
        Layout = "~/Views/Base/_logadoBase.cshtml";
    } else {
        Layout = "~/Views/Base/_usuarioComumBase.cshtml";
    }
    
}
<div class="container" style="width: 75%;">
   <div class="hero-unit">
       <h2>Eventos</h2>
            <table class="table">
                <tr>
                    <th><strong>#</strong></th>
                    <th><strong>Nome</strong></th>
                    <th><strong>Detalhes</strong></th>
                </tr>
    
                     @foreach(USPeriodico.Models.EventoCEPE evento in Model){
                        <tr>
                            <td>@evento.ID</td>
                            <td>@evento.Nome</td>
                
                            @if (ViewBag.ID == evento.AlunoID)
                            {
                                <td><a class="btn btn-warning" href="Editar?id=@evento.ID">Modificar</a></td>
                            }
                            else
                            {
                                <td><a class="btn btn-info" href="Detalhar?ID=@evento.ID">Detalhar</a></td>
                            }
                        </tr>
                     }
    
            </table>
   </div>
</div>
