@model USPeriodico.Models.Usuarios

@{
    ViewBag.Title = "ListarUsuarios";
    Layout = "~/Views/Base/_logadoBase.cshtml";
}

<h2>Lista de Usuarios</h2>

<table>
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
      @foreach (USPeriodico.Models.Usuarios usuario in ViewBag.usuarios)
      {
          if (usuario == null)
          {
              continue;
          }
        <tr><td>@usuario.Id</td><td>@usuario.role</td></tr>
      }
  </tbody>
</table>
