@{
    ViewBag.Title = "Timers";
    Layout = "~/Views/Base/_logadoBase.cshtml";
}

<h2>Timers</h2>

<a href="Adicionar">Adicionar Timer</a>
<a href="Listar">Listar Timer</a>
<a href="Deletar">Deletar Timer</a>
