@model USPeriodico.Models.Usuarios

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Base/_usuarioComumBase.cshtml";
}



<div class="container" style="width: 75%;">
        <div class ="hero-unit">
           
            <h1 align="center">Cadastrar</h1><br>
             @if (ViewBag.alert == true)
            {
                <div class="alert alert-error">
                    @ViewBag.mensagemErro
                </div>
            }
            <form class="form-horizontal" action="Cadastrar" method="post" >
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email" name="email">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputSenha">Senha</label>
                    <div class="controls">
                        <input type="password" id="inputSenha" placeholder="Senha" name="password">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputSenhaConfirm">Confirmar Senha</label>
                    <div class="controls">
                        <input type="password" id="inputSenhaConfirm" name="confirmaPassword"  placeholder="Confirma senha">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputTipoUsuario">Usuário</label>
                    <div class="controls">
                        <select id="inputTipoUsuario" name="tipoUsuario">
                            <option value="3">Aluno</option>
                            <option value="2">Empresa</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-warning">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
