@model IEnumerable<USPeriodico.Models.Curso>

@{
    ViewBag.Title = "Criar Cadastro";
    Layout = "~/Views/Base/_usuarioComumBase.cshtml";
}


<div class="container" style="width: 75%;">
        <div class ="hero-unit">
           
            <h1 align="center">Cadastrar</h1><br>
             @if (ViewBag.alert == true)
            {
                <div class="alert alert-error">
                    @ViewBag.mensagemErro
                </div>
            }
            <form class="form-horizontal" action="CriarAluno" method="post" >
                <div class="control-group">
                    <label class="control-label" for="inputNome">Nome</label>
                    <div class="controls">
                        <input type="text" id="inputNome" placeholder="Nome" name="nome">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputNUSP">Numero USP</label>
                    <div class="controls">
                        <input type="text" id="inputNUSP" placeholder="NUSP" name="nusp">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputTelefone">Telefone</label>
                    <div class="controls">
                        <input type="text" id="inputTelefone" name="telefone" placeholder="Telefone">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputCurso">Curso</label>
                    <div class="controls">
                        <SELECT NAME=curso>  
                            <option value="0">Curso</option>
                            @foreach (USPeriodico.Models.Curso curso in Model)
                            {
                                if (curso == null)
                                {
                                   continue;
                                }
                                <option value="@curso.ID">@curso.Nome</option>
                            }
                        </SELECT> 
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputUnidade">Unidade</label>
                    <div class="controls">
                        <input type="text" id="inputUnidade" name="unidade"  placeholder="Unidade">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-warning">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
