@model IEnumerable<USPeriodico.Models.Timer>


@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Base/_logadoBase.cshtml";
  
    
}
<div class="container" style="width: 75%;">
   <div class="hero-unit">
       <h2>Timers de sincronização  </h2>
       <br />
            <table class="table">
                <tr>
                    <th><strong>#</strong></th>
                    <th><strong>Horario</strong></th>
                    <th><strong>Frequência</strong></th>
                    <th></th>
                </tr>
    
                     @foreach(USPeriodico.Models.Timer timer in Model){
                        <tr>
                            <td>@timer.Id</td>
                            <td>@timer.Horario</td>
                            <td>@timer.Frequencia</td>
                
                           
                                <td><a class="btn btn-warning" href="Editar?id=@timer.Id"><i class=" icon-pencil icon-white"></i> Modificar</a></td>
                        </tr>
                     }
    
            </table>
   </div>
    <div id="conteudo" class="modal hide fade" tabindex="-1" aria-hidden="true" style="width: 500px; overflow-x:hidden "></div>
</div>
s