@model USPeriodico.Models.Estagio

@{
    ViewBag.Title = "Criar";
    Layout = "~/Views/Base/_logadoBase.cshtml";
}

<div class="container" style="width: 60%;">
        <div class ="hero-unit">
           
            <h1 align="center">Criar novo estágio</h1><br>

            <form class="form-horizontal" action="Criar" method="post" >

                    
                
                <input type="text" name="EmpresaID" id="EmpresaID" value="@ViewBag.EmpresaID" style="display:none">

                <div class="control-group">
                    <label class="control-label" for="BreveDescricao">Breve descrição:</label>
                    <div class="controls">
                        <input type="text" id="BreveDescricao"  name="BreveDescricao">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Descricao">Descrição:</label>
                    <div class="controls">
                        <textarea class="form-control" rows="4" id="Descricao" name ="Descricao"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="DataInicio">Data de Inicio:</label>
                    <div class="controls">
                        <input type="date" id="DataInicio"  name="DataInicio">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Duracao">Duração:</label>
                    <div class="controls">
                        <input type="text" id="Duracao"  name="Duracao">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Bolsa">Bolsa:</label>
                    <div class="controls">
                        <input type="text" id="Bolsa"  name="Bolsa">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Area">Área:</label>
                    <div class="controls">
                            <input type="text" id="Area"  name="Area">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-warning">Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>