@model IEnumerable<USPeriodico.Models.Estagio>


@{
    ViewBag.Title = "Listar";
    if(ViewBag.NoID == false && ViewBag.ID != null)
    {
        Layout = "~/Views/Base/_logadoBase.cshtml";
    } else {
        Layout = "~/Views/Base/_usuarioComumBase.cshtml";
    }
    
}
<div class="container" style="width: 75%;">
   <div class="hero-unit">
       <h2>Estágios</h2>
       <table class="table">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Detalhes</th>
            </tr>
             @foreach(USPeriodico.Models.Estagio estagio in Model){
                <tr>
                    <td>@estagio.ID</td>
                    <td>@estagio.BreveDescricao</td>
                
                    @if (ViewBag.ID == estagio.EmpresaID)
                    {
                        <td><a class="btn btn-warning" href="Editar?id=@estagio.ID"><i class=" icon-pencil icon-white"></i> Modificar</a></td>
                    }
                    else
                    {
                        <td><a onclick="carregaEstagio('/Detalhar?ID=@estagio.ID')" class="btn btn-info"><i class=" icon-plus icon-white"></i> Detalhar</a></td>
                    }
                </tr>
             }
    
        </table>
    </div>
    <div id="conteudo" class="modal hide fade" tabindex="-1" aria-hidden="true" style="width: 500px; overflow-x:hidden "></div>
</div>