@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/CSS/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="~/Content/CSS/usperiodico.css" rel="stylesheet" media="screen" />
    <link href="~/Content/CSS/mosaic.css" rel="stylesheet" media="screen"/>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/Bootstrap/mosaic.1.0.1.js"></script>
    <title>USPeriodico - Home</title>

    <script type="text/javascript">
            jQuery(function ($) {
                $('.bar2').mosaic({
                    animation: 'slide'		//fade or slide
                });
            });
    </script>

    <script type=text/javascript>
        function carregaEventoCEPE(link) {
            $('#conteudo').load('/EventoCEPE/' + link);
            $('#conteudo').modal('show');
        }

        function carregaEstagio(link) {
            $('#conteudo').load('/Estagio/' + link);
            $('#conteudo').modal('show');
        }
    </script>

</head>

<body >
    <header>
        <div>
            <ul class="nav nav-pills">
                <li>
                    <a href="/Home/IndexSafe">Home</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filtrar
                        <b class="caret"></b>
                    </a>
                     <ul class="dropdown-menu">
                        <li>
                            <a href="~/EventoCEPE/Listar">Esportes</a>
                        </li>
                        <li>
                            <a href="~/Estagio/Listar">Estagio</a>
                        </li>
                        <li>
                            <a href="#">Iniciacao</a>
                        </li>
                        <li>
                            <a href="#">Festa</a>
                        </li>
                         <li>
                            <a href="#">Cursos ExtCur</a>
                        </li>
                         <li>
                            <a href="#">Palestras</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Novo
                        <b class="caret"></b>
                    </a>
                     <ul class="dropdown-menu">
                        <li>
                            <a href="~/EventoCEPE/Criar">Esporte</a>
                        </li>
                        <li>
                            <a href="~/Estagio/Criar">Estagio</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin
                        <b class="caret"></b>
                    </a>
                     <ul class="dropdown-menu">
                        <li>
                            <a href="~/Administrador/ListarUsuarios">Usuários</a>
                        </li>
                        <li>
                            <a href="~/Administrador/Historico">Eventos</a>
                        </li>
                         <li>
                            <a href="~/Sincronizador/ListaTimer">Timers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/Login/LogOff">Logout</a>
                </li>
            </ul>
        </div>
    </header>
    <div>
        @RenderBody();
    </div>


</body>
</html>
